//  Fonts
// ========================
@font: "Helvetica Neue", Helvetica, Arial, sans-serif;

//  Colors
// ========================
@red: #DD5143;


@black: #000;
@gray: #999;
@deep-gray: #333;
@dark-gray: #707070;
@medium-gray: #b3b3b3;
@light-gray: #e5e5e5;
@highlight-gray: #f7f7f7;

@white: #fff;
@blue: #0077B5;
@error-red: #bd3e0f;
@highlight-blue: #00A0DC;
@highlight-green: #18D073;

// backgrounds
@bg-medium-gray: #ccc;
@bg-light-gray: #f2f2f2;
@bg-med-light-gray: #e6e6e6;

// text
@text-default: #222;
@text-dark: #414042;
@text-medium: #666;
@text-light: #999;
@placeholder-text: #a6a6a6;
