@import (reference) "~src/less/theme/dentto-vars.less";
@import (reference) "~src/less/mixins/display-flex.less";

.header {
  width: 100%;
  height: 30px;
  background: @blue;
  padding: 15px;
}

.header__baseline {
  position: relative;
  width: 100%;
  height: 100%;
}

.header__baseline__logo {
  margin: 0;
  color: @white;
  display: inline-block;
}

.header__baseline__description {
  margin: 0;
  padding-left: 8px;
  color: @white;
  display: inline-block;
}
